<form
action="/spending-tracker/categories/<%= @category.id%>"
method="post">

  <label for="name"> Name: </label>
  <input type="text" name="name" value="<%= @category.name%>">

  <label for="category_group_id"> Category Group: </label>
  <select class="" name="category_group_id">
    <% @category_groups.each { |category_group| %>
      <option
      class=""
      value="<%=category_group.id%>"
      <%= "selected" if category_group.id == @category.category_group_id %>
      >
      <%= category_group.name %>
      </option>
    <% } %>
  </select>

  <input type="submit" value="Save">

</form>

<form
action="/spending-tracker/categories/<%= @category.id%>/delete"
method="post">
  <input type="submit" value="Delete">
</form>

<!-- DISPLAY ALL CATEGORIES AS PER index.erb -->
<% @category_groups.each { |category_group| %>

  <div style="background-color:<%=category_group.colour%>;">
    <h3><%= category_group.name %></h3>
  </div>

  <% category_group.categories().each { |category| %>

    <div class="">
      <h4><%= category.name %></h4>

      <a href="/spending-tracker/categories/<%= category.id%>/edit">
        <button type="button" name="Edit">Edit</button>
      </a>

    </div>
  <%}%>
<%}%>
