<div class=".stick-top">


  <a href="/spending-tracker/transactions/new"><button>Add Transaction</button></a>
  <form class=""
  action="/spending-tracker/transactions/filtered"
  method="post">

    <label for="date">Select Date</label>
    <input type="date" name="date" value="<%= @date.to_s %>">

    <label for="date_range">Select Date Range</label>
    <select class="" name="date_range">
      <option value="week"
      <%= "selected" unless @date_range == "month" %>
      >Week</option>
      <option value="month"
      <%= "selected" if @date_range == "month" %>
      >Month</option>
    </select>

    <label for="group_by">Group By...</label>
    <select class="" name="group_by">
      <option value="0"
      <%= "selected" if @group_by == nil %>
      > - </option>
      <option value="day"
      <%= "selected" if @group_by == "day" %>
      > Day </option>
      <option value="week"
      <%= "selected" if @group_by == "week" %>
      >Week</option>
      <option value="category"
      <%= "selected" if @group_by == "category" %>
      >Category</option>
    </select>

    <fieldset>
      <legend>Select Groups to view: </legend>

      <% @category_groups.each { |cat_group| %>

        <label
        for="<%= cat_group.name %>">
          <%= cat_group.name %>
        </label>
        <input
        type="checkbox"
        name="groups[]"
        value="<%= cat_group.id %>"
        <%= "checked" unless !(@groups.include?(cat_group.id.to_s)) %> >
        <br>

      <% } %>
    </fieldset>

    <input type="submit" value="Filter/Group">
  </form>
</div>

  <table>
    <thead class=".stick-top">
      <tr>
        <th>Date</th>
        <th>Details</th>
        <th>Category</th>
        <th>Repeat</th>
        <th>Time Period</th>
        <th>Amount (Actual)</th>
        <th>Amount (Weekly)</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <% if @t_grouped != nil %>
        <%  @t_grouped.each { |group_name, trans_arr| %>

            <tr class="">
              <td colspan="">
                <%= group_name %>
                <!-- 'Group by' header content -->
              </td>
            </tr>

            <% trans_arr.each { |trans| %>
              <tr>
                <td><%=trans.date%></td>
                <td><%=trans.details%></td>
                <td> <%= trans.category_group().name + "  /  " + trans.category().name %> </td>
                <td>
                  <input type="checkbox" name="" value="repeat">
                </td>
                <td><%= trans.time_period.name %></td>
                <td><%= "£" + trans.amount.round(2).to_s %></td>
                <td><%= "£" + trans.get_weekly().round(2).to_s %></td>
                <td><a href="/spending-tracker/transactions/<%=trans.id%>/edit"><button>Edit</button></a></td>
              </tr>
            <% }%>
        <% } %>

      <% else %>
        <!-- Loop over all transactions -->
        <% @transactions.each { |trans| %>
          <tr>
            <td><%=trans.date%></td>
            <td><%=trans.details%></td>
            <td> <%= trans.category_group().name + "  /  " + trans.category().name %> </td>
            <td><input type="checkbox" name="" value=""></td>
            <td><%= trans.time_period.id %></td>
            <td><%= "£" + trans.amount.round(2).to_s %></td>
            <td><%= "£" + trans.get_weekly().round(2).to_s %></td>
            <td><a href="/spending-tracker/transactions/<%=trans.id%>/edit"><button>Edit</button></a></td>

          </tr>
        <% }%>
      <% end %>
    </tbody>
  </table>
